textarea, input, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  vertical-align: middle;
  outline: 0;
}

label { margin-right: 0.5em; }

table { border: 1px solid #ccc; }
table tr:last-child td { border-bottom: 0; }
table td:last-child { border-right: 0; }

table td {
  padding: 15px;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  text-align: center;
}

#result { padding-top: 1em; }

.form-group + .form-group { margin-top: 1em; }
.time { display: none; }
.time.show { display: block; }
